body{
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: lightblue;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.container {
  text-align: center;
  font-family: "Monoton";
  color: #d11f3a;
}
.type {
  font-size: 15px;
}
#bosnianPizza, #chickenPizza, #greekPizza, #pepperoniPizza, #margaritaPizza, #prosciuttoPizza, #veggiePizza, #hawaiianPizza {
  font-size: 20px;
}
.menu {
  font-family: Alegreya;
}
.order {
  font-family: Alegreya;
}
.your-order {
  font-family: Alegreya;
  /* display: none; */
}
/* .interior {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
} */
